config/AppliedEnergistics2/*
!/.mixin.out/
!/crash-reports/
!/downloads/
!/journeymap/
!/logs/
!/resourcepacks/
!/screenshots/
!/server-resource-packs/
*.bat
*.cmd
*.exe
*.bash
*.sh
*.db
crafttweaker.log
minecraftinstance.json
servers.dat
settings.rtg
startup.nps
TimeUsage.txt
usercache.json
usernamecache.json
WailaErrorOutput.txt